@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Tangerine:wght@400;700&display=swap");
html {
  scroll-padding-top: 66px;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

main {
  overflow-x: hidden;
  width: 100vw;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(252,155, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-link-style {
  color: white;
  border-bottom: solid 1px rgba(128, 128, 128, 0.4);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav-link-style:hover {
  color: #fc9b00;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.custom-navbar-dark {
  background-color: black;
  width: 100vw;
}

.navbar-brand {
  margin-right: 0;
}

.custom-navbar-light {
  background-color: white;
}

.custom-navbar-light .nav-link-style {
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.808);
  background-color: white;
  border-bottom: solid 1px rgba(158, 158, 158, 0.4);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.custom-navbar-light .nav-link-style:hover {
  color: #fc9b00;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.custom-navbar-light .current-page-style {
  color: #fc9b00;
  border-bottom: #fc9b00 solid 1px;
}

.overlay-index {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.index-wrapper {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 120vh;
  background-image: url("images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index-content {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 120vh;
}

.index-img-wrapper {
  width: 100%;
  height: 100vh;
  opacity: 0;
}

.index-text-wrapper {
  padding-top: 2rem;
  width: 100%;
  height: 20vh;
}

.index-text {
  font-family: "Tangerine", cursive;
  text-shadow: 2px 2px 3px black;
  color: white;
  font-size: 3rem;
  margin-top: 8rem;
}

#about h2 {
  font-family: "Tangerine", cursive;
  font-size: 4rem;
}

#about .custom-para-about {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 300;
}

#about .about-name {
  font-family: "Tangerine", cursive;
  font-size: 2.5rem;
}

#massages {
  padding-top: 66px;
}

#massages .massages-list-custom {
  display: none;
  position: fixed;
  z-index: 110;
  top: 100px;
  left: 10px;
  width: 18%;
  font-size: 0.95rem;
  padding: 0 0.5rem;
}

#massages .massages-list-custom a {
  border: none;
  border-right: solid 1px rgba(200, 200, 200, 0.4);
  color: black;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#massages .massages-list-custom a:hover {
  color: #fc9b00;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#massages .massages-list-custom a.active {
  color: #fc9b00;
  background-color: white;
}

#massages .massages-dropup-custom {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 10px;
}

#massages .massages-dropup-custom a {
  color: #666b70;
  font-size: 0.95rem;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

#massages .massages-dropup-custom a:hover {
  color: #fc9b00;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: rgba(200, 200, 200, 0.4);
}

#massages .massages-dropup-custom .massages-dropup-menu {
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  padding: 1rem;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999;
}

table tr[data-href] {
  cursor: pointer;
}

.th-style {
  border-bottom: solid 2px #fc9b00;
}

form textarea {
  resize: none;
  height: 100px;
}

.card-heading {
  position: absolute;
  font-family: "Tangerine", cursive;
  font-size: 4rem;
  color: #fc9b00;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.664);
  line-height: 1.222;
  z-index: 2;
}

.contact-small {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}

.input + .input {
  margin-top: 1.5rem;
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  padding: 0.25rem 0.5rem;
}

.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: #8597a3;
  -webkit-box-shadow: 0 0 7px #fc9b00;
          box-shadow: 0 0 7px #fc9b00;
}

.input-field:focus + .input-label, .input-field:valid + .input-label {
  color: #787e83;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  font-size: 0.9rem;
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}

.card-info a {
  display: block;
  color: #6658d3;
  text-decoration: none;
}

.dark-footer-custom {
  color: white;
  border-top: solid 1px rgba(200, 200, 200, 0.4);
  padding: 1rem;
  font-size: 0.7rem;
  font-family: sans-serif;
  margin-top: 1rem;
}

.dark-footer-custom .footer-links a {
  text-decoration: none;
  color: white;
}

.dark-footer-custom .footer-logo {
  max-width: 80px;
}

.light-footer-custom {
  width: 100vw;
  border-top: solid 1px rgba(200, 200, 200, 0.4);
  background-color: white;
  padding: 1rem;
  font-size: 0.7rem;
  font-family: sans-serif;
  margin-top: 1rem;
}

.light-footer-custom .footer-links a {
  text-decoration: none;
  color: black;
}

.light-footer-custom .footer-logo {
  max-width: 80px;
}

#calendar {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding-top: 66px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar-wrapper {
  width: 21rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
}

.month h2 {
  padding: 0.5rem;
  margin-bottom: 0;
}

.month .month-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.arrow {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.arrow:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.weekdays {
  width: 100%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aliceblue;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weekdays div {
  width: calc(21rem / 7);
  text-align: center;
}

.days {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.days div {
  width: calc(21rem / 7);
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.days div:hover:not(.today) {
  background-color: #fc9b00;
  cursor: pointer;
}

.prev-date,
.next-date {
  color: rgba(0, 0, 0, 0.301);
}

.today {
  background-color: #ffc107;
}

.schedule-wrapper {
  width: 21rem;
  height: 25rem;
  position: static;
  z-index: 1;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  margin: 2rem 0;
}

.overlay-schedule {
  width: 21rem;
  height: 25rem;
  position: absolute;
  z-index: 10;
}

.chosen-date {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0.5rem;
}

.schedule-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule-input-wrapper input:focus {
  outline: 0;
  border-bottom-color: #8597a3;
  -webkit-box-shadow: 0 0 7px #fc9b00;
          box-shadow: 0 0 7px #fc9b00;
}

.schedule-input-wrapper .dropdown-menu {
  min-width: 70%;
  max-height: 110px;
  overflow-y: scroll;
}

@media (max-width: 330px) {
  #about h2 {
    font-size: 3.5rem;
  }
  #about .custom-para-about {
    font-size: 1rem;
    line-height: 2rem;
  }
  #about .about-name {
    font-size: 2rem;
  }
  .custom-navbar-dark .nav-link-style {
    font-size: 0.9rem;
  }
  .custom-navbar-light .nav-link-style {
    font-size: 0.9rem;
  }
  #massages {
    font-size: 0.9rem;
  }
  #massages .massages-dropup-custom button {
    font-size: 0.9rem;
  }
  #massages .massages-dropup-custom a {
    font-size: 0.9rem;
  }
  .contact-form-custom {
    padding: 1rem;
  }
  .prices-table-custom {
    font-size: 0.95rem;
  }
  .input-field {
    font-size: 0.8rem;
  }
  .input-label {
    font-size: 0.9rem;
  }
  .contact-form-custom {
    padding: 1rem 0.5em;
  }
  .contact-btn-custom {
    font-size: 0.9rem;
  }
}

@media (max-width: 310px) {
  .contact-form-custom {
    padding: 1rem 0.5em;
  }
  .prices-table-custom {
    font-size: 0.85rem;
  }
}

@media (min-width: 330px) {
  .contact-form-custom {
    padding: 1rem;
  }
}

@media (min-width: 576px) and (min-height: 270px) {
  .index-img-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 66px;
  }
  .index-text {
    margin-top: 4.5rem;
  }
  .contact-form-custom {
    padding: 2rem;
  }
}

@media (min-width: 810px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .calendar-wrapper {
    margin-right: 2rem;
  }
  .schedule-wrapper {
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 992px) {
  #contact {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .index-text {
    font-size: 5rem;
  }
  .massages-dropup-custom {
    display: none;
  }
  #massages {
    width: 60%;
  }
  #massages .massages-list-custom {
    display: block;
  }
  #contact {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */