@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Tangerine:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Tangerine:wght@700&display=swap"');
html {
  scroll-padding-top: 66px;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  position: relative;
}

main {
  overflow-x: hidden;
  width: 100vw;
}

.nav-link-style {
  color: white;
  border-bottom: solid 1px rgba(128, 128, 128, 0.4);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav-link-style:hover {
  color: #fc9b00;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.custom-navbar-index {
  background-color: black;
  width: 100vw;
}

.navbar-brand {
  margin-right: 0;
}

.custom-navbar-massages {
  background-color: white;
}

.custom-navbar-massages .nav-link-style {
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.808);
  background-color: white;
  border-bottom: solid 1px rgba(158, 158, 158, 0.4);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.custom-navbar-massages .nav-link-style:hover {
  color: #fc9b00;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.custom-navbar-massages .current-page-style {
  color: #fc9b00;
  border-bottom: #fc9b00 solid 1px;
}

.overlay-index {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.index-wrapper {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 120vh;
  background-image: url("images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.index-content {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 120vh;
}

.index-img-wrapper {
  width: 100%;
  height: 100vh;
  opacity: 0;
}

.index-text-wrapper {
  padding-top: 2rem;
  width: 100%;
  height: 20vh;
}

.index-text {
  font-family: "Tangerine", cursive;
  text-shadow: 2px 2px 3px black;
  color: white;
  font-size: 3rem;
  margin-top: 8rem;
}

#about h2 {
  font-family: "Tangerine", cursive;
  font-size: 4rem;
}

#about .custom-para-about {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 300;
}

#about .about-name {
  font-family: "Tangerine", cursive;
  font-size: 2.5rem;
}

#massages {
  padding-top: 66px;
}

#massages .massages-dropup-custom {
  position: fixed;
  height: 200px;
  overflow-y: visible;
  z-index: 100;
  bottom: 10px;
  right: 10px;
}

#massages .massages-dropup-custom a {
  color: #787e83;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

#massages .massages-dropup-custom a:hover {
  color: #fc9b00;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: rgba(200, 200, 200, 0.4);
}

.overlay-contact {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 0 100px 0 100px;
}

table tr[data-href] {
  cursor: pointer;
}

.th-style {
  border-bottom: solid 2px #fc9b00;
}

form textarea {
  resize: none;
}

.card-heading {
  position: absolute;
  font-family: "Tangerine", cursive;
  font-size: 4rem;
  color: #fc9b00;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.664);
  line-height: 1.222;
  z-index: 2;
}

.contact-small {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}

.input + .input {
  margin-top: 1.5rem;
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  padding: 0.25rem 0;
}

.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: #8597a3;
}

.input-field:focus + .input-label, .input-field:valid + .input-label {
  color: #787e83;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  font-size: 0.9rem;
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}

.card-info a {
  display: block;
  color: #6658d3;
  text-decoration: none;
}

@media (min-width: 576px) and (min-height: 270px) {
  .index-img-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 66px;
  }
  .index-text {
    margin-top: 4.5rem;
  }
}

@media (min-width: 1200px) {
  .index-text {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */