@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');

$tangerine: 'Tangerine', cursive;
$open-sans: 'Open Sans', sans-serif;
$orange: rgb(255, 157, 0);
$top-val: 66px;

body {
  padding-top: $top-val;
}

#index,
#about,
#massages {
  overflow: hidden;
}

@mixin current-page-style {
  color: $orange;
  border-bottom: $orange solid 1px;
}

@mixin nav-link-style {
  border-bottom: solid rgba(128, 128, 128, 0.4) 1px;
  transition: 1s ease-in-out;
}

@mixin hover-style {
  color: $orange;
  transition: 0.3s ease-in-out;
}

#index,
#contact {
  .nav-link {
    color: white;
    @include nav-link-style;

    &:hover {
      @include hover-style;
    }
    &.current-page {
      @include current-page-style;
    }
  }
}

#about,
#massages,
#prices {
  .nav-link {
    color: black;
    @include nav-link-style;

    &:hover {
      @include hover-style;
    }
    &.current-page {
      @include current-page-style;
    }
  }
}

// #backdrop {
//   position: fixed;
//   width: 100%;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   background: rgba(0, 0, 0, 0.75);
//   z-index: /10;
//   pointer-events: none;
//   display: block;
// }
// <div id="backdrop"></div>

.index-background {
  background: {
    image: url('images/index-background.jpg');
    repeat: no-repeat;
    size: cover;
    position: center center;
    attachment: fixed;
  }
  min-height: 100vh;
  position: fixed;
  margin-top: -$top-val;
}

// .contact-background {
//   background-image: url('images/contact-bkg.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;
//   background-attachment: fixed;
//   min-height: 100vh;
//   position: fixed;
//   margin-top: -66px;
// }

.index-logo {
  opacity: 0.1;
  animation: opacity 3s ease forwards;
}

.index-text {
  font-size: 4.5rem;
  line-height: 4rem;
  font-family: $tangerine;
  text-shadow: 2px 2px 3px black;
  transform: translateY(20%);
  animation: slideIn 1s linear forwards;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.name {
  font: {
    family: $tangerine;
    size: 2.5rem;
  }
}

.custom-index {
  min-height: calc(100vh - #{$top-val});
}

.custom-about-image,
.custom-img-massages {
  box-shadow: 0 0 5px black;
  opacity: 0.3;
  animation: opacity 2s ease forwards;
}

.custom-para-about {
  line-height: 2.2rem;
  transform: translateY(10%);
  animation: slideIn 1s linear forwards;
}

.current-page {
  color: $orange;
  border-bottom: $orange solid 1px;
}

.thead-sticker {
  position: sticky;
  top: 4rem;
}

.dm-custom {
  height: 100vh;
  border-radius: 1rem;
  box-shadow: 0 0 8px inset rgba(0, 0, 0, 0.2);
  li {
    padding: 0.5rem 2rem;
    width: 250px;

    a {
      color: $orange;
      transition: 0.5s ease-in-out;

      &:hover {
        color: black;
        text-decoration: none;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.custom-send-btn {
  background-color: $orange;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 2px gray;
  box-shadow: 1px 1px 3px gray;
}

.custom-prices {
  opacity: 0;
  animation: opacity 1s ease forwards;
}

.custom-contact-navbar {
  background-color: rgb(0, 0, 0);
}

.custom-contact {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  transform: translateY(20%);
  animation: slideIn 1s ease-in-out forwards;
}

table tr[data-href] {
  cursor: pointer;
}

textarea {
  resize: none;
}

.custom-form {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
  // background: image(images\contact-bkg.jpg);
}

.contact-overlay {
  background-color: rgba(0, 0, 0, 0.644);
}

h1 {
  font-size: 2rem;
}

@media (max-width: 576px) {
  .index-text {
    font-size: 3rem;
    line-height: 3rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  .index-text {
    font-size: 5rem;
  }
}

@media (min-width: 768px) {
  .index-text {
    font-size: 6rem;
  }
  h1 {
    font-size: 2.1rem;
  }
}

@media (min-width: 992px) {
  .index-text {
    font-size: 6.5rem;
  }
  h1 {
    font-size: 2.1rem;
  }
}

@media (min-width: 1200px) {
  .index-text {
    font-size: 7.5rem;
  }
  h1 {
    font-size: 2.3rem;
  }
}

@keyframes slideIn {
  100% {
    transform: translateX(0%);
  }
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
}
