@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Tangerine:wght@400;700&display=swap');

$cursive-font-family: 'Tangerine', cursive;
$text-font-family: 'Open Sans', sans-serif;
$orange: rgb(252, 155, 0);
$gray: rgba(128, 128, 128, 0.4);
$navbar-height: 66px;

html {
  scroll-padding-top: $navbar-height;
}

body {
  font-family: $text-font-family;
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

main {
  overflow-x: hidden;
  width: 100vw;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(252,155, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link-style {
  color: white;
  border-bottom: solid 1px $gray;
  transition: 0.5s ease-in-out;
  &:hover {
    color: $orange;
    transition: 0.2s ease-in-out;
  }
}

.custom-navbar-dark {
  background-color: black;
  width: 100vw;
}

.navbar-brand {
  margin-right: 0;
}

.custom-navbar-light {
  background-color: white;
  .nav-link-style {
    padding: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.808);
    background-color: white;
    border-bottom: solid 1px rgba(158, 158, 158, 0.4);
    transition: 0.5s ease-in-out;
    &:hover {
      color: $orange;
      transition: 0.2s ease-in-out;
    }
  }
  .current-page-style {
    color: $orange;
    border-bottom: $orange solid 1px;
  }
}

.overlay-index {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 120vh;
  // padding: $navbar-height 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.index-wrapper {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 120vh;
  background: {
    image: url('images/index-background.jpg');
    size: cover;
    repeat: no-repeat;
    position: center;
  }
}
.index-content {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 120vh;
}

.index-img-wrapper {
  width: 100%;
  height: 100vh;
  opacity: 0;
  // transform: translateY(20%);
}

.index-text-wrapper {
  padding-top: 2rem;
  width: 100%;
  height: 20vh;
}
.index-text {
  font-family: $cursive-font-family;
  text-shadow: 2px 2px 3px black;
  color: white;
  font-size: 3rem;
  margin-top: 8rem;
}

#about {
  h2 {
    font-family: $cursive-font-family;
    font-size: 4rem;
  }
  .custom-para-about {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 300;
  }
  .about-name {
    font-family: $cursive-font-family;
    font-size: 2.5rem;
  }
}

#massages {
  padding-top: $navbar-height;
  .massages-list-custom {
    display: none;
    position: fixed;
    z-index: 110;
    top: 100px;
    left: 10px;
    width: 18%;
    font-size: 0.95rem;
    padding: 0 0.5rem;

    a {
      border: none;
      border-right: solid 1px rgba(200, 200, 200, 0.4);
      color: rgba(0, 0, 0, 1);
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        color: $orange;
        transition: 0.2s ease-in-out;
      }
      &.active {
        color: $orange;
        background-color: white;
      }
    }
  }
  .massages-dropup-custom {
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 10px;
    a {
      color: #666b70;
      font-size: 0.95rem;
      transition: 0.8s ease-in-out;
      &:hover {
        color: $orange;
        transition: 0.2s ease-in-out;
        background-color: rgba(200, 200, 200, 0.4);
      }
    }
    .massages-dropup-menu {
      overflow-y: auto;
      max-height: calc(100vh - 150px);
      padding: 1rem;
    }
  }
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999;
}

#calendar {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

table tr[data-href] {
  cursor: pointer;
}

.th-style {
  border-bottom: solid 2px $orange;
}

form {
  textarea {
    resize: none;
    height: 100px;
  }
}

// #contact {
//   width: 100%;
//   background: {
//     image: url('images/contact21.jpg');
//     size: cover;
//     repeat: no-repeat;
//     position: center;
//   }
// }

.card-heading {
  position: absolute;
  font-family: $cursive-font-family;
  font-size: 4rem;
  color: $orange;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.664);
  line-height: 1.222;
  z-index: 2;
}
.contact-small {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  & + .input {
    margin-top: 1.5rem;
  }
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  padding: 0.25rem 0.5rem;
  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: #8597a3;
    box-shadow: 0 0 7px $orange;
    & + .input-label {
      color: #787e83;
      transform: translateY(-2rem);
      font-size: 0.9rem;
    }
  }
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
  a {
    display: block;
    color: #6658d3;
    text-decoration: none;
  }
}
.dark-footer-custom {
  color: white;
  border-top: solid 1px rgba(200, 200, 200, 0.4);
  padding: 1rem;
  font-size: 0.7rem;
  font-family: sans-serif;
  margin-top: 1rem;
  .footer-links {
    a {
      text-decoration: none;
      color: white;
    }
  }
  .footer-logo {
    max-width: 80px;
  }
}

.light-footer-custom {
  width: 100vw;
  border-top: solid 1px rgba(200, 200, 200, 0.4);
  background-color: white;
  padding: 1rem;
  font-size: 0.7rem;
  font-family: sans-serif;
  margin-top: 1rem;
  .footer-links {
    a {
      text-decoration: none;
      color: black;
    }
  }
  .footer-logo {
    max-width: 80px;
  }
}

//Calendar

.calendar-wrapper {
  width: 21rem;
  margin-top: $navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  font-family: $text-font-family;
  font-size: 1rem;
  border: solid 1px $gray;
}

.month {
  background-color: $orange;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  h2 {
    padding: 0.5rem;
    margin-bottom: 0;
  }
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

.weekdays {
  width: 100%;
  height: 2rem;
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}

.weekdays div {
  width: calc(21rem / 7);
  text-align: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // background-color: brown;
}

.days div {
  width: calc(21rem / 7);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.days div:hover:not(.today) {
  background-color: rgb(104, 26, 26);
  cursor: pointer;
}

.prev-date,
.next-date {
  color: rgba(0, 0, 0, 0.301);
}

.today {
  background-color: $orange;
}

@media (max-width: 330px) {
  #about {
    h2 {
      font-size: 3.5rem;
    }
    .custom-para-about {
      font-size: 1rem;
      line-height: 2rem;
    }
    .about-name {
      font-size: 2rem;
    }
  }
  .custom-navbar-dark {
    .nav-link-style {
      font-size: 0.9rem;
    }
  }
  .custom-navbar-light {
    .nav-link-style {
      font-size: 0.9rem;
    }
  }
  #massages {
    font-size: 0.9rem;
    .massages-dropup-custom {
      button {
        font-size: 0.9rem;
      }
      a {
        font-size: 0.9rem;
      }
    }
  }
  .contact-form-custom {
    padding: 1rem;
  }
  .prices-table-custom {
    font-size: 0.95rem;
  }
  .input-field {
    font-size: 0.8rem;
  }
  .input-label {
    font-size: 0.9rem;
  }
  .contact-form-custom {
    padding: 1rem 0.5em;
  }
  .contact-btn-custom {
    font-size: 0.9rem;
  }
}
@media (max-width: 310px) {
  .contact-form-custom {
    padding: 1rem 0.5em;
  }
  .prices-table-custom {
    font-size: 0.85rem;
  }
}
@media (min-width: 330px) {
  .contact-form-custom {
    padding: 1rem;
  }
}
@media (min-width: 576px) and (min-height: 270px) {
  .index-img-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: $navbar-height;
  }
  .index-text {
    margin-top: 4.5rem;
  }
  .contact-form-custom {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  #contact {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .index-text {
    font-size: 5rem;
  }
  .massages-dropup-custom {
    display: none;
  }
  #massages {
    width: 60%;
    .massages-list-custom {
      display: block;
    }
  }
  #contact {
    width: 40%;
  }
}
